@ViewBag.idcompetenciav


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="AgregarDepo">
    <div class="form-group">
        <label for="deportista">Seleccionar deportista:</label>
        <select class="form-control" id="IdDep" name="IdDep">
            <option value="">Seleccione un deportista</option>
            @foreach (var deportista in ViewBag.ListadoDeportistas)
            {
                <option value="@deportista.IdDep">@deportista.NombresDep @deportista.ApellidosDep</option>
            }
        </select>
    </div>
    <input type="hidden" id="IdCom" name="IdCom" value=@ViewBag.idcompetenciav />

    <button type="submit" class="btn btn-outline-primary float-right">Enviar</button>

</form>

<button type="button" class="btn btn-outline-warning"><a class="boton" asp-action="Index" asp-route-competencia="@ViewBag.idcompetenciav">Agregar Resultados</a></button>



<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Apellidos</th>
                <th scope="col">Nombres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competencia in ViewBag.ListadoDeportistaCompetencia)
            {
                <tr>

                 
                        @{
                            List<Deportistum> a = ViewBag.ListadoDeportistas;
                            Deportistum deportist = a.Find(da => da.IdDep == competencia.IdDep);
                        if (deportist != null)
                            {
                            <td>@deportist.ApellidosDep</td>
                            <td>@deportist.NombresDep</td>
                            }
                            else
                            {
                                <span class="badge bg-warning">Deportista no encontrado</span>
                            }
                        }
                 
                    
                </tr>
            }
        </tbody>
    </table>
</div>





