@model IEnumerable<ProyectoFDI.v2.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>Listado de Usuarios</h1>

<p>
    <button type="button" class="btn btn-outline-primary"><a class="boton" asp-action="Create">Crear</a></button>
</p>
<table class="table">
    <thead class ="table-light">
        <tr>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Fecha de Creación
            </th>
            <th>
                Roles
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveUsu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolesUsu)
            </td>
                <td>
                    @if(item.ActivoUsu == true){
                        <p>Activo</p>
                    }else{
                        <p>Inactivo</p>
                    }
                    
                </td>
            <td>
                <button type="button" class="btn btn-outline-warning"><a class="boton" asp-action="Edit" asp-route-id="@item.IdUsu">Editar</a></button>
                <button type="button" class="btn btn-outline-info"><a class="boton" asp-action="Details" asp-route-id="@item.IdUsu">Detalles</a></button>
                <button type="button" class="btn btn-outline-danger"><a class="boton" asp-action="Delete" asp-route-id="@item.IdUsu">Eliminar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
