@{
   var competencium = ViewBag.competencium;
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaPDFListaDeportistas</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Estilos CSS para tu HTML */
        table {
            page-break-inside: avoid;
        }
    </style>
</head>
<body>
     <div class="container">
        <div class="row mb-4">




            <div class="col-md-12">
                <table class="table table-bordered">
                    <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <h2 class="font-weight-bold text-uppercase">
                                <img src="https://www.fedenador.org.ec/wp-content/uploads/2021/05/IMBABURA.png" alt="Logo" style="height: 250px; margin-right: 10px;"> <!-- Aquí se agrega el logo -->
                                @competencium.NombreCom
                            </h2>
                        </div>
                    </div>
                    <tbody>
                        <tr>
                            <th class="text-right" style="width: 30%">Fecha de inicio:</th>
                            <td>@competencium.FechaInicioCom</td>
                            <th class="text-right" style="width: 30%">Fecha de fin:</th>
                            <td>@competencium.FechaFinCom</td>
                        </tr>
                        <tr>
                            <th class="text-right">Género:</th>
                            <td>@competencium.Genero</td>
                            <th class="text-right">Nombre del juez:</th>
                            <td>@competencium.NombreDelJuez</td>
                        </tr>
                        <tr>
                            <th class="text-right">Categoría:</th>
                            <td>@competencium.NombreCategoria</td>
                            <th class="text-right">Modalidad:</th>
                            <td>@competencium.DescripcionModalidad</td>
                        </tr>
                        <tr>
                            <th class="text-right">Sede:</th>
                            <td colspan="3">@competencium.NombreDeSede</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered table-hover text-center">
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <h5 class="font-weight-bold text-uppercase">
                            Resultados
                        </h5>
                    </div>
                </div>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Puesto Final</th>
                        <th scope="col">Puesto de Clasificación</th>
                        <th scope="col">Deportista</th>
                        <th scope="col">Clasificación 1</th>
                        <th scope="col">Clasificación 2</th>
                        <th scope="col">Resultado Final</th>
                        <!-- Agrega más columnas según sea necesario -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registro in ViewBag.detalleCompetencium)
                    {
                        <tr class="@((registro.PuestoFinal == 1) ? "bg-light shadow" : "")">
                            <td>
                                @if (registro.PuestoFinal == 1)
                                {
                                    <span class="text-success font-weight-bold">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="30" height="30">
                                            <path fill="#FFD43B" d="M400 0H176c-26.5 0-48.1 21.8-47.1 48.2c.2 5.3 .4 10.6 .7 15.8H24C10.7 64 0 74.7 0 88c0 92.6 33.5 157 78.5 200.7c44.3 43.1 98.3 64.8 138.1 75.8c23.4 6.5 39.4 26 39.4 45.6c0 20.9-17 37.9-37.9 37.9H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H357.9C337 448 320 431 320 410.1c0-19.6 15.9-39.2 39.4-45.6c39.9-11 93.9-32.7 138.2-75.8C542.5 245 576 180.6 576 88c0-13.3-10.7-24-24-24H446.4c.3-5.2 .5-10.4 .7-15.8C448.1 21.8 426.5 0 400 0zM48.9 112h84.4c9.1 90.1 29.2 150.3 51.9 190.6c-24.9-11-50.8-26.5-73.2-48.3c-32-31.1-58-76-63-142.3zM464.1 254.3c-22.4 21.8-48.3 37.3-73.2 48.3c22.7-40.3 42.8-100.5 51.9-190.6h84.4c-5.1 66.3-31.1 111.2-63 142.3z" />
                                        </svg>
                                    </span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">@registro.PuestoFinal</span>
                                }
                            </td>
                            <td>@registro.PuestoClasificacion</td>
                            <td>@registro.Deportista</td>
                            <td>@registro.Clasificacion1</td>
                            <td>@registro.Clasificacion2</td>
                            <td>@registro.Final</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <!-- Contenido del encabezado y la tabla aquí -->
        <!-- Tabla para las firmas -->
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <h5 class="font-weight-bold text-uppercase">Firmas</h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <!-- Espacio para firmar -->
                                <p class="border border-dark p-4">&nbsp;</p>
                                <small>Firma del Juez</small>
                            </td>
                            <td class="text-center">
                                <!-- Espacio para firmar -->
                                <p class="border border-dark p-4">&nbsp;</p>
                                <small>Firma del Entrenador</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <!-- Enlace al archivo JavaScript de Bootstrap (Opcional, pero necesario para ciertas funcionalidades) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<script>

    console.log(detalleCompetencium)
</script>
