@model ProyectoFDI.v2.Models.Deportistum

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>CREAR</h1>

<h4>Deportista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CedulaDep" class="control-label">Cédula</label>
                <input id="CedulaDep" asp-for="CedulaDep" class="form-control" />
                <span asp-validation-for="CedulaDep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresDep" class="control-label">Nombres</label>
                <input asp-for="NombresDep" class="form-control" />
                <span asp-validation-for="NombresDep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosDep" class="control-label">Apellidos</label>
                <input asp-for="ApellidosDep" class="form-control" />
                <span asp-validation-for="ApellidosDep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPro" class="control-label">Provincia</label>
                @Html.DropDownList("IdPro" , ViewBag.ListadoProvincias, "--Elija una Provincia--", new{@class ="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="IdCat" class="control-label">Categoría</label>
                @Html.DropDownList("IdCat" , ViewBag.ListadoCategorias, "--Elija una Categoría--", new{@class ="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="IdGen" class="control-label">Género</label>
                @Html.DropDownList("IdGen" , ViewBag.ListadoGeneros, "--Elija un Género--", new{@class ="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="IdClub" class="control-label">Club</label>
                @Html.DropDownList("IdClub" , ViewBag.ListadoClubes, "--Elija un Club--", new{@class ="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="IdEnt" class="control-label">Entrenador</label>
                @Html.DropDownList("IdEnt" , ViewBag.ListadoEntrenadores, "--Elija un Entrenador--", new{@class ="form-select"})
            </div>
            <div class="form-group">
                <label asp-for="ActivoDep" class="control-label">Estado</label>
                @Html.DropDownList("ActivoDep" , ViewBag.ListaEstados, "--Elija un Estado--", new{@class ="form-select"})
            </div>
            
            <br />
            <div class="form-group">
                <input id="submitBtn" type="submit" value="Crear" class="btn btn-outline-primary" />
                <button type="button" class="btn btn-outline-danger"><a class="boton" asp-action="Index">Regresar</a></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CedulaDep').keyup(function () {
                var cedula = $(this).val();
                $.ajax({
                    url: '@Url.Action("VerificarCedula", "Deportista")',
                    type: 'POST',
                    data: { cedula: cedula },
                    success: function (response) {
                        if (response && response.exists == true) {
                            Swal.fire({
                                title: 'Warning',
                                text: 'La cédula ingresada ya existe.',
                                icon: 'warning'
                            });
                            $('#submitBtn').prop('disabled', true);
                        } else {
                            $('#submitBtn').prop('disabled', false);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText); // Verifica el mensaje de error en la consola
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#submitBtn').click(function (e) {
                e.preventDefault(); // Evita que el formulario se envíe automáticamente

                var cedula = $('#CedulaDep').val();

                // Realiza la solicitud AJAX al método VerificaIdentificacion en el controlador
                $.ajax({
                    url: '@Url.Action("VerificaIdentificacion", "Deportista")',
                    type: 'POST',
                    data: { identificacion: cedula },
                    success: function (response) {
                        if (response) {
                            // La cédula es válida, envía el formulario
                            $('form').submit();
                        } else {
                            // La cédula no es válida, muestra un mensaje al usuario
                            Swal.fire({
                                title: 'Error',
                                text: 'La cédula ingresada no es válida.',
                                icon: 'error'
                            });
                        }
                    },
                    error: function () {
                        // Maneja cualquier error de la solicitud AJAX
                        console.log('Error al verificar la cédula.');
                    }
                });
            });
        });
    </script>
}
