@model IEnumerable<ProyectoFDI.v2.Models.Deportistum>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>ADMINISTRACIÓN DE DEPORTISTAS</h1>

@if (User.IsInRole("Administrador") || User.IsInRole("Entrenador"))
{
    <p>
        <button type="button" class="btn btn-outline-primary"><a class="boton" asp-action="Create">Create New</a></button>
    </p>
}

<form asp-action="Index" method="get">
    <input type="text" name="SearchFor" value="@ViewBag.SearchFor" placeholder="Buscar ..." />
    <input type="submit" value="Buscar" class="btn-success" />
</form>

<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Cédula
            </th>
            <th>
                Categoría
            </th>
            <th>
                Club
            </th>
            <th>
                Entrenador
            </th>
            <th>
                Género
            </th>
            <th>
                Provincia
            </th>
            <th>
                Modalidad
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombresDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCatNavigation.NombreCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClubNavigation.NombreClub)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdEntNavigation.NombresEnt) @Html.DisplayFor(modelItem => item.IdEntNavigation.ApellidosEnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenNavigation.NombreGen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProNavigation.NombrePro)
            </td>
            <td>
                @foreach (var modalidad in item.DeportistaModalidads)
                {
                        @Html.DisplayFor(modelItem => modalidad.IdModNavigation.DescripcionMod) 
                        <br />                      
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuNavigation.NombreUsu)
            </td>

                @if (User.IsInRole("Administrador") || User.IsInRole("Entrenador"))
                {
                    <td>
                        <button type="button" class="btn btn-outline-warning"><a class="boton" asp-action="Edit" asp-route-id="@item.IdDep">Editar</a></button>
                        <button type="button" class="btn btn-outline-info"><a class="boton" asp-action="Details" asp-route-id="@item.IdDep">Detalles</a></button>
                        <button type="button" class="btn btn-outline-danger"><a class="boton" asp-action="Delete" asp-route-id="@item.IdDep">Eliminar</a></button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
