@model IEnumerable<ProyectoFDI.v2.Models.Club>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>Listado de Clubes</h1>

<p>
    <button type="button" class="btn btn-outline-primary"><a class="boton" asp-action="Create">Crear</a></button>
</p>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                Nombre del Club
            </th>
            <th>
                Deportistas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreClub)
            </td>
            <td>
                @foreach (var deportista in item.Deportista)
                {
                    <p>
                        @(Html.DisplayFor(modelItem => deportista.NombresDep)) @(Html.DisplayFor(modelItem => deportista.ApellidosDep))
                    <br />
                    </p>  
                    
                }
            </td>
            <td>
                 <button type="button" class="btn btn-outline-warning"><a class="boton" asp-action="Edit" asp-route-id="@item.IdClub">Editar</a></button>
                 <button type="button" class="btn btn-outline-info"><a class="boton" asp-action="Details" asp-route-id="@item.IdClub">Detalles</a></button>
                 <button type="button" class="btn btn-outline-danger"><a class="boton" asp-action="Delete" asp-route-id="@item.IdClub">Eliminar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
