@model ProyectoFDI.v2.Models.PuntajeBloque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PuntajeBloque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBloque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBloque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntentosTops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntentosTops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntentosZonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntentosZonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etapa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdComNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdComNavigation.IdCom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepNavigation.IdDep)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBloPts">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
