@model ProyectoFDI.v2.Models.Competencium

@{
    ViewData["Title"] = "AgregarResultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>RESULTADOS</h1>

<h4>Agregar Resultados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarResultados">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCom" />
            <div class="form-group">
                <label asp-for="NombreCom" class="control-label">Nombre</label>
                <input disabled="disabled" asp-for="NombreCom" class="form-control" />
                <span asp-validation-for="NombreCom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicioCom" class="control-label">Fecha Inicio</label>
                <input disabled="disabled" asp-for="FechaInicioCom" class="form-control" />
                <span asp-validation-for="FechaInicioCom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinCom" class="control-label">Fecha de Finalización</label>
                <input disabled="disabled" asp-for="FechaFinCom" class="form-control" />
                <span asp-validation-for="FechaFinCom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGen" class="control-label">Género</label>
                @Html.DropDownList("IdGen" , ViewBag.ListaGeneros, "--Elija un Género--", new{@class ="form-select", disabled="disabled"})
                <span asp-validation-for="IdGen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJuez" class="control-label">Juez</label>
                @Html.DropDownList("IdJuez" , ViewBag.ListaJueces, "--Elija un Juez--", new{@class ="form-select", disabled="disabled"})
                <span asp-validation-for="IdJuez" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCat" class="control-label">Categoría</label>
                @Html.DropDownList("IdCat" , ViewBag.ListaCategorias, "--Elija una Categoría--", new{@class ="form-select", disabled="disabled"})
                <span asp-validation-for="IdCat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSede" class="control-label">Sede</label>
                @Html.DropDownList("IdSede" , ViewBag.ListaSedes, "--Elija una Sede--", new{@class ="form-select", disabled="disabled"})
                <span asp-validation-for="IdSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMod" class="control-label">Modalidad</label>
                @Html.DropDownList("IdMod" , ViewBag.ListaModalidades, "--Elija una Modalidad--", new{@class ="form-select", disabled="disabled"})
                <span asp-validation-for="IdMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivoCom" class="control-label">Estado</label>
                @Html.DropDownList("ActivoCom" , ViewBag.ListadoEstados, "--Elija una Estado--", new{@class ="form-select", disabled="disabled"})
                <span asp-validation-for="ActivoCom" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="button" class="btn btn-outline-danger"><a class="boton" asp-action="Resultados" asp-controller="Competencia">Regresar</a></button>
            </div>
        </form>
    </div>
</div>

<br />
<h4>DETALLE</h4>

<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                Puesto
            </th>
            <th>
                Resultado de Clasificación
            </th>
            <th>
                Resultado de Octavos
            </th>
            <th>
                Resultado de Cuartos
            </th>
            <th>
                Resultado de SemiFinal
            </th>
            <th>
                Resultado de Final
            </th>
            <th>
                Deportista
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetalleCompetencia)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClasRes)
                </td>
                <td>
                    @if(item.OctavosRes == null){
                        <p>
                            ----
                        </p>
                    }else{
                        <p>
                            @Html.DisplayFor(modelItem => item.OctavosRes)
                        </p>
                    }            
                </td>
                <td>
                    @if (item.CuartosRes == null)
                    {
                        <p>
                            ----
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.DisplayFor(modelItem => item.CuartosRes)
                        </p>
                    }
                    
                </td>
                <td>
                    @if (item.SemiRes == null)
                    {
                        <p>
                            ----
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.DisplayFor(modelItem => item.SemiRes)
                        </p>
                    }
                    
                </td>
                <td>
                    @if (item.FinalRes == null)
                    {
                        <p>
                            ----
                        </p>
                    }else{
                        <p>
                            @Html.DisplayFor(modelItem => item.FinalRes)
                        </p>
                    } 
                    
                </td>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.IdDepNavigation.NombresDep) @Html.DisplayFor(modelItem => item.IdDepNavigation.ApellidosDep)
                    </p>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-warning">@Html.ActionLink("Agregar", "Resultados","DetalleCompetencia", new { id=item.IdDetalle, returnTo = "resultados" })</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="card">
    <div class="card-header">
        <h2>
            RESULTADOS
        </h2>
    </div>
    <div class="card-body">
        @if(Model.DetalleCompetencia.Count >= 16){
            <button class="btn btn-outline-info" onclick="Clasificacion('octavos')">Tabla Clasificacion a Octavos</button>
        }

        @if (Model.DetalleCompetencia.Count < 16 && Model.DetalleCompetencia.Count >= 8)
        {
            <button class="btn btn-outline-info" onclick="Clasificacion('cuartos')">Tabla Clasificacion a Cuartos</button>
        }

        @if (Model.DetalleCompetencia.Count < 8 && Model.DetalleCompetencia.Count >= 4)
        {
            <button class="btn btn-outline-info" onclick="Clasificacion('semi')">Tabla Clasificacion a Semis</button>
        }
        
        <div class="row align-items-end">

                
                <script>
                    function Clasificacion(fase) {
                        var resultados = JSON.parse('@Html.Raw(ViewBag.ListaClasificadosJSON)');

                        var tabla = document.getElementById('tabla-resultados');

                        var tablaHTML = '<table class="table"><thead class="table-light"><tr><th>Puesto</th><th>Resultado Clasificacion</th><th>Deportista</th><th></th></tr></thead><tbody>';

                        resultados.forEach(function (resultado) {

                            var fila = '<tr>';


                            fila += '<td>' + resultado.Puesto + '</td>';
                            fila += '<td>' + resultado.ClasRes + '</td>';
                            fila += '<td>' + resultado.IdDepNavigation.NombresDep + " " + 
                            resultado.IdDepNavigation.ApellidosDep + '</td>';

                        fila += '<td>' + '<input type="button" class="agregar btn-danger" onclick="Alerta(\'' + resultado.IdDetalle + '\', \'' + fase + '\')" value="Agregar"/>' + '</td>';

                            fila += '</tr>';


                            tablaHTML += fila;
                        });


                        tablaHTML += '</tbody></table>';


                        tabla.innerHTML = tablaHTML;


                        if(fase == 'octavos'){
                        boton = document.getElementById('btn-octavos');
                        botonHTML = '<button class="btn btn-outline-info" onclick="OctavosACuartos(\'' + fase + '\')">Tabla Clasificacion a Cuartos</button>'
                        boton.innerHTML = botonHTML;
                        }
                        if (fase == 'cuartos') {
                        boton = document.getElementById('btn-cuartos');
                        botonHTML = '<button class="btn btn-outline-info" onclick="CuartosASemi(\'' + fase + '\')">Tabla Clasificacion a SemiFinal</button>'
                        boton.innerHTML = botonHTML;
                        }
                        if (fase == 'semi') {
                        boton = document.getElementById('btn-semi');
                        botonHTML = '<button class="btn btn-outline-info" onclick="SemiAFinal(\'' + fase + '\')">Tabla Clasificacion a Final</button>'
                        boton.innerHTML = botonHTML;
                        }
                        
                    }
                </script>
                <script>
                    function OctavosACuartos(fase) {
                        var resultados = JSON.parse('@Html.Raw(ViewBag.ListaCuartosJSON)');
                        var fasesiguiente = 'cuartos';
                        var tabla = document.getElementById('tabla-cuartos');

                        var tablaHTML = '<table class="table"><thead class="table-light"><tr><th>Puesto</th><th>Resultado Octavos</th><th>Deportista</th><th></th></tr></thead><tbody>';

                        resultados.forEach(function (resultado) {

                            var fila = '<tr>';


                            fila += '<td>' + resultado.Puesto + '</td>';
                            fila += '<td>' + resultado.OctavosRes + '</td>';
                            fila += '<td>' + resultado.IdDepNavigation.NombresDep + " " +
                                resultado.IdDepNavigation.ApellidosDep + '</td>';

                            fila += '<td>' + '<input type="button" class="agregar btn-danger" onclick="Alerta(\'' + resultado.IdDetalle + '\', \'' + fasesiguiente + '\')" value="Agregar"/>' + '</td>';

                            fila += '</tr>';


                            tablaHTML += fila;
                        });

                        tablaHTML += '</tbody></table>';


                        tabla.innerHTML = tablaHTML;

                        boton = document.getElementById('btn-cuartos');
                        botonHTML = '<button class="btn btn-outline-info" onclick="CuartosASemi(\'' + fasesiguiente + '\')">Tabla Clasificacion a SemiFinal</button>'
                        boton.innerHTML = botonHTML;
                    }

                    function CuartosASemi(fase){
                        var resultados = JSON.parse('@Html.Raw(ViewBag.ListaSemiJSON)');
                        var fasesiguiente = 'semi';
                        var tabla = document.getElementById('tabla-semi');

                        var tablaHTML = '<table class="table"><thead class="table-light"><tr><th>Puesto</th><th>Resultado Cuartos</th><th>Deportista</th><th></th></tr></thead><tbody>';

                        resultados.forEach(function (resultado) {

                            var fila = '<tr>';


                            fila += '<td>' + resultado.Puesto + '</td>';
                            fila += '<td>' + resultado.CuartosRes + '</td>';
                            fila += '<td>' + resultado.IdDepNavigation.NombresDep + " " +
                                resultado.IdDepNavigation.ApellidosDep + '</td>';

                            fila += '<td>' + '<input type="button" class="agregar btn-danger" onclick="Alerta(\'' + resultado.IdDetalle + '\', \'' + fasesiguiente + '\')" value="Agregar"/>' + '</td>';

                            fila += '</tr>';


                            tablaHTML += fila;
                        });

                        tablaHTML += '</tbody></table>';


                        tabla.innerHTML = tablaHTML;

                        boton = document.getElementById('btn-semi');
                        botonHTML = '<button class="btn btn-outline-info" onclick="SemiAFinal(\'' + fasesiguiente + '\')">Tabla Clasificacion a Final</button>'
                        boton.innerHTML = botonHTML;
                    }

                    function SemiAFinal(fase) {
                        var resultados = JSON.parse('@Html.Raw(ViewBag.ListaFinalJSON)');
                        console.log(resultados);
                        var fasesiguiente = 'final';
                        var tabla = document.getElementById('tabla-final');

                        var tablaHTML = '<table class="table"><thead class="table-light"><tr><th>Puesto</th><th>Resultado SemiFinal</th><th>Deportista</th><th></th></tr></thead><tbody>';

                        resultados.forEach(function (resultado) {

                            var fila = '<tr>';


                            fila += '<td>' + resultado.Puesto + '</td>';
                            fila += '<td>' + resultado.SemiRes + '</td>';
                            fila += '<td>' + resultado.IdDepNavigation.NombresDep + " " +
                                resultado.IdDepNavigation.ApellidosDep + '</td>';

                            fila += '<td>' + '<input type="button" class="agregar btn-danger" onclick="Alerta(\'' + resultado.IdDetalle + '\', \'' + fasesiguiente + '\')" value="Agregar"/>' + '</td>';

                            fila += '</tr>';


                            tablaHTML += fila;
                        });

                        tablaHTML += '</tbody></table>';


                        tabla.innerHTML = tablaHTML;

                        boton = document.getElementById('btn-final');
                        botonHTML = '<button class="btn btn-outline-info" onclick="Ganador(\'' + fasesiguiente + '\')">Ganador</button>'
                        boton.innerHTML = botonHTML;
                    }

                    function Ganador(fase){
                        var resultados = JSON.parse('@Html.Raw(ViewBag.GanadorJSON)');
                        var tabla = document.getElementById('tabla-ganador');

                        var tablaHTML = '<table class="table"><thead class="table-light"><tr><th>Puesto</th><th>Resultado Final</th><th>Deportista</th><th></th></tr></thead><tbody>';

                        resultados.forEach(function (resultado) {

                            var fila = '<tr>';


                            fila += '<td>' + resultado.Puesto + '</td>';
                            fila += '<td>' + resultado.FinalRes + '</td>';
                            fila += '<td>' + resultado.IdDepNavigation.NombresDep + " " +
                                resultado.IdDepNavigation.ApellidosDep + '</td>';

                            fila += '</tr>';


                            tablaHTML += fila;
                        });

                        tablaHTML += '</tbody></table>';


                        tabla.innerHTML = tablaHTML;

                        boton = document.getElementById('btn-reporte');
                        //botonHTML = '<button class="btn btn-outline-info" onclick="Reporte()">Reporte</button>'
                        boton.innerHTML = botonHTML;
                    }

                    function Reporte(){
                        fetch('/Competencia/ExportarExcel/' + @Model.IdCom)
                            .then(response => response.blob())
                            .then(blob => {
                                // Descargar el archivo
                                const url = window.URL.createObjectURL(new Blob([blob]));
                                const link = document.createElement('a');
                                link.href = url;
                                link.setAttribute('download', 'reporte.xlsx');
                                document.body.appendChild(link);
                                link.click();
                        });
                    }
                </script>

            <script>
                async function Alerta(id, fase) {
                    const { value: result } = await Swal.fire({
                        title: 'Ingrese el resultado de ' + fase,
                        input: 'number',
                        inputAttributes: {
                            minlength: 0,
                            autocapitalize: 'off',
                            autocorrect: 'off'
                        },
                        inputValidator: (value) => {
                            if (value < 0) {
                                return 'Número Inválido'
                            }
                            if (value == "") {
                                return 'Ingrese un resultado';
                            }
                        },
                        inputPlaceholder: 'Resultado'
                    })



                    if (result) {
                        await agregarResult(id, result, fase);
                    }
                }

                async function agregarResult(id, result, fase) {
                    const url = '/Competencia/AgregarResult?id=' + id + '&result=' + result + '&fase=' + fase;
                    const response = await fetch(url, {
                        method: 'POST'
                    });
                    if (!response.ok) {
                        throw new Error('Error al agregar resultado');
                    }
                }

            </script>
                <div>
                    
                    <div id="tabla-resultados">

                    </div>
                <div id="btn-octavos"></div>
                </div>

            <div>
                
                <div id="tabla-cuartos">
                </div>
                <div id="btn-cuartos"></div>
            </div>

            <div>
                
                <div id="tabla-semi">
                </div>
                <div id="btn-semi"></div>
            </div>

            <div>              
                <div id="tabla-final">
                </div>
                <div id="btn-final"></div>
            </div>    
            
            <div>
                <div id="tabla-ganador">
                </div>
                <div id="btn-reporte"></div>
            </div>
        </div>
    </div>
</div>




