@model IEnumerable<ProyectoFDI.v2.Models.Competencium>

@{
    ViewData["Title"] = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>LISTADO DE COMPETENCIAS</h1>

<form asp-action="Index" method="get">
    <input type="text" name="SearchFor" value="@ViewBag.SearchFor" placeholder="Buscar ..." />
    <input type="submit" value="Buscar" class="btn-success" />
</form>

<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de Finalización
            </th>
            <th>
                Categoría
            </th>
            <th>
                Género
            </th>
            <th>
                Juez
            </th>
            <th>
                Modalidad
            </th>
            <th>
                Sede
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicioCom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinCom)
                </td>
                <td>
                    @for (var i = 0; i < ViewBag.ListadoCategorias.Count; i++)
                    {
                        if (item.IdCat == (ViewBag.ListadoCategorias[i]).IdCat)
                        {
                            <p>
                                @((ViewBag.ListadoCategorias[i]).NombreCat)
                            </p>
                        }
                    }
                </td>
                <td>
                    @for (var i = 0; i < ViewBag.ListadoGeneros.Count; i++)
                    {
                        if (item.IdGen == (ViewBag.ListadoGeneros[i]).IdGen)
                        {
                            <p>
                                @((ViewBag.ListadoGeneros[i]).NombreGen)
                            </p>
                        }
                    }
                </td>
                <td>
                    @for (var i = 0; i < ViewBag.ListadoJueces.Count; i++)
                    {
                        if (item.IdJuez == (ViewBag.ListadoJueces[i]).IdJuez)
                        {
                            <p>
                                @((ViewBag.ListadoJueces[i]).NombresJuez)
                                @((ViewBag.ListadoJueces[i]).ApellidosJuez)
                            </p>
                        }
                    }
                </td>
                <td>
                    @for (var i = 0; i < ViewBag.ListadoModalidades.Count; i++)
                    {
                        if (item.IdMod == (ViewBag.ListadoModalidades[i]).IdMod)
                        {
                            <p>
                                @((ViewBag.ListadoModalidades[i]).DescripcionMod)
                            </p>
                        }
                    }
                </td>
                <td>
                    @for (var i = 0; i < ViewBag.ListadoSedes.Count; i++)
                    {
                        if (item.IdSede == (ViewBag.ListadoSedes[i]).IdSede)
                        {
                            <p>
                                @((ViewBag.ListadoSedes[i]).NombreSede)
                            </p>
                        }
                    }
                </td>
                <td>
                    @if (item.ActivoCom == true)
                    {
                        <p>ACTIVO</p>
                    }
                    else
                    {
                        <p>INACTIVO</p>
                    }
                </td>

                @if (User.IsInRole("Administrador") || User.IsInRole("Juez"))
                {
                    @if (item.ActivoCom == true)
                    {
                        <td>
                            <button type="button" class="btn btn-outline-warning"><a class="boton" asp-action="AgregarResultados" asp-route-id="@item.IdCom">Agregar Resultados</a></button>
                        </td>
                    }
                    @if (item.IdMod == 2)
                    {
                        
                    }
                   
                }
            </tr>
        }
    </tbody>
</table>
